<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       					http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/js/**" location="/js/" />

	<context:component-scan base-package="org.bridgelabz.documentsigner.controller"></context:component-scan>
	<context:component-scan base-package="org.bridgelabz.documentsigner.service" />
	<tx:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="resources/messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- Pooled data source. -->
	<bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/DocumentSigner" />
		<property name="user" value="root" />
		<property name="password" value="bridgeit" />
		<property name="maxPoolSize" value="100" />
		<property name="minPoolSize" value="3" />
		<property name="maxStatements" value="4" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="pooledDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>
					org.bridgelabz.documentsigner.model.User
				</value>
				<value>
					org.bridgelabz.documentsigner.model.Document
				</value>
				<value>
					org.bridgelabz.documentsigner.model.Token
				</value>
				<value>
					org.bridgelabz.documentsigner.model.Signature
				</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="tokenService" class="org.bridgelabz.documentsigner.service.impl.TokenServiceImpl"></bean>
	<bean id="userService" class="org.bridgelabz.documentsigner.service.impl.UserServiceImpl"></bean>
	<bean id="documentService" class="org.bridgelabz.documentsigner.service.impl.DocumentServiceImpl"></bean>
	<bean id="signatureService" class="org.bridgelabz.documentsigner.service.impl.SignatureServiceImpl"></bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="10000000" />
	</bean>

</beans>